.topNav{
    margin: 0 16%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fcf4f4;
}
#title{
    margin-left: 7%;
}
.navItems{
    display: flex;
    margin-right: 7%;
    align-items: center;
    justify-content: space-evenly;
}
/* navBAr style*/
.nav_navBar{
    margin: 0 16%;
    background-color: #f1e9e9;
    height: 60px;
    padding-top: 1%;
}
.navList{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
/* hero section */
.heroSeaction{
    background-image: url("./assets/background.png");
    width: 1260px;
    height: 700px;
}
