.topNav{
    margin: 0 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcf4f4;
    height: 50px;
}
#title{
    margin-left: 7%;
    
    color: #8b8989;
    font-family: cursive;
    font-size: x-large;
}
.navItems{
    display: flex;
    margin-right: 7%;
    align-items: center;
    justify-content: space-evenly;
}
/* navBAr style*/
.nav_navBar{
    margin: 0 16%;
    height: 44px;
}
.navList{
    display: flex;
    list-style: none;
    justify-content: space-around;
  
    color: #8b8989;
    font-family: cursive;
    font-size: unset;
}
#home:hover{
    color: plum;
}
/* hero section */
#backgroundImg{
    margin: 0 16%;
    width: 68%;
    height: 603px;
}
.CallToAction{
    position: absolute;
    top: 44%;
    left: 33%;
    transform: translate(-50%, -50%);
}
#heroP{
    color: white;
    font-family: cursive;
    font-size: x-large;
}
#heroBtn{
    background-color: white;
    font-family: cursive;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* best seller section */
#bestSellerTitle{
    text-align: center;
    color: #8b8989;
    font-family: cursive;
    font-size: x-large;
}
#bestSellerTitle:hover{
    color: plum;
}
.bestSeller{
    
    margin: auto;
    width: 59%;
    padding: 83px;
}
#cookies {
    height: 364px;
}
.Allcookies{
    text-align: center;
    color: #8b8989;
    font-family: cursive;
    font-size: x-large;
}
#getAll:hover{
    color: plum;
}

/* cookies List*/
.Cookies_List{
    padding-bottom: 7%;
    padding-top: 5%;
    display: flex;
    margin: 0 16%;
}

.Cookies_List div{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: cursive;
}
   

#product{
    width: 100%;
}
.order{
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
}
#order{
    background-color: white;
    font-family: cursive;
   
    color: black;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#order:hover{
    background-color: #e0b2cf;
}


/* footer*/
footer{
    font-family: cursive;
    margin: 0 16%;
    height: 233px;
    background-color: #fcf4f4;
    display: flex;
    justify-content: space-evenly;
}
.about{
    list-style: none;
    line-height: 2;
}
.footerBtn{
    display: flex;
    flex-direction: column;
}
.footerBtn input{
    border-color: red;
    height: 28px; 
}
.footerBtn button{
    color: white;
    height: 38px;
    background-color: #e0b2cf;
    border: none;
    margin-top: 8%;
    align-items: center;
    display: flex;
    min-width: 100%;
    text-align: center;
    width: max-content;
    justify-content: center;
}
.footerBtn button:hover{
     background-color: bisque;
}